
.TaskZone{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.AlertTask{
    font-size: 35px;
    color: rgb(223, 223, 46);
}

hr{
    margin-left: 100px;
    color: #fff;
    width: 90%;
}

.options {
    margin-top: 2%;
    color: #fff;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#options{
    font-size: 110%;
    margin-left: 1%;
    background-color: #111;
    color: #fff;
}

.options label{
    font-size: 30px;
}

.filterTasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Ruby{
    /* overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: thin; */
    width: 80vw;
    min-height: 14rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ul::-webkit-scrollbar {
    height: 8px; 
}

ul::-webkit-scrollbar-thumb {
    background-color: #0e0e0e80; 
    border-radius: 25px;
} */

.Auxiliar{
    width: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    min-height: 15rem;
    border: #fff 3px solid;
    border-radius: 20px;
    margin-top: 30px;
}


.ContenedorTasks{
    background-color: #682ab4;
    border-radius: 20px;
    width: 75vw;
    height: 30px;
    border: #da5cd1 solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ColorTask{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(3, 252, 3);
}

.TittleTask{
    font-size: 20px;
    color: #fff;
}

.TetxtTask{
    font-size: 15px;
    color: #fff;
}

.ChexboxTask{
    width: 20px;
    height: 20px;
}
